.first-img {
  width: 1300px;
  height: 500px;
  background-image: url(https://freshcart.codescandy.com/assets/images/slider/slide-1.jpg);
 
}
.second-img {
  width: 1300px;
  height: 500px;
  background-image: url(https://freshcart.codescandy.com/assets/images/slider/slider-2.jpg);
  
}
.slider-section{
  display: flex;
  justify-content: center;
}